[SddmGreeterTheme]
Name=Moblododo
Name[ar]=Moblododo
Name[az]=Moblododo
Name[be]=Moblododo
Name[bg]=Moblododo
Name[bs]=Moblododo
Name[ca]=Moblododo
Name[ca@valencia]=Moblododo
Name[cs]=Moblododo
Name[da]=Moblododo
Name[de]=Moblododo
Name[el]=Moblododo
Name[en_GB]=Moblododo
Name[es]=Moblododo
Name[et]=Moblododo
Name[eu]=Moblododo
Name[fi]=Moblododo
Name[fr]=Moblododo
Name[gl]=Moblododo
Name[hi]=Moblododo
Name[hu]=Moblododo
Name[ia]=Moblododo
Name[id]=Moblododo
Name[is]=Moblododo
Name[it]=Moblododo
Name[ja]=Moblododo
Name[ka]=Moblododo
Name[ko]=Moblododo
Name[lt]=Moblododo
Name[ml]=Moblododo
Name[nb]=Moblododo
Name[nds]=Moblododo
Name[nl]=Moblododo
Name[nn]=Moblododo
Name[pa]=Moblododo
Name[pl]=Moblododo
Name[pt]=Moblododo
Name[pt_BR]=Moblododo
Name[ro]=Moblododo
Name[ru]=Moblododo
Name[sk]=Moblododo
Name[sl]=Moblododo
Name[sr]=Moblododo
Name[sr@ijekavian]=Moblododo
Name[sr@ijekavianlatin]=Moblododo
Name[sr@latin]=Moblododo
Name[sv]=Moblododo
Name[ta]=Moblododo
Name[tg]=Moblododo
Name[tr]=Moblododo
Name[uk]=Moblododo
Name[vi]=Moblododo
Name[x-test]=Moblododo
Name[zh_CN]=Moblododo
Name[zh_TW]=Moblododo
Description=Breeze
Description[ar]=Moblododo
Description[az]=Moblododo
Description[be]=Moblododo
Description[bg]=Moblododo
Description[ca]=Moblododo
Description[ca@valencia]=Moblododo
Description[cs]=Moblododo
Description[da]=Moblododo
Description[de]=Moblododo
Description[en_GB]=Moblododo
Description[es]=Moblododo
Description[et]=Moblododo
Description[eu]=Moblododo
Description[fi]=Moblododo
Description[fr]=Moblododo
Description[gl]=Moblododo
Description[hi]=Moblododo
Description[hu]=Moblododo
Description[ia]=Moblododo
Description[id]=Moblododo
Description[is]=Moblododo
Description[it]=Moblododo
Description[ja]=Moblododo
Description[ka]=Moblododo
Description[ko]=Moblododo
Description[lt]=Moblododo
Description[ml]=Moblododo
Description[nl]=Moblododo
Description[nn]=Moblododo
Description[pa]=Moblododo
Description[pl]=Moblododo
Description[pt]=Moblododo
Description[pt_BR]=Moblododo
Description[ro]=Moblododo
Description[ru]=Moblododo
Description[sk]=Moblododo
Description[sl]=Moblododo
Description[sv]=Moblododo
Description[ta]=Moblododo
Description[tg]=Moblododo
Description[tr]=Moblododo
Description[uk]=Moblododo
Description[vi]=Moblododo
Description[x-test]=Moblododo
Description[zh_CN]=Moblododo
Description[zh_TW]=Moblododo
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze
Theme-API=2.0
