[Desktop Entry]
Name=Moblododo-light
X-KDE-PluginInfo-Author=Jefferson
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=me@jeffersonreal.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Moblododo-light
X-KDE-PluginInfo-Version=1.0.1
